


/*Repère vertical et horizontal.
Permet de contrôler les alignements.
NB:Ecrire une fonction SASS, 
réflechir à une grille de fond et|ou 
en surimpression
*/


body:after{
  content : '';
  height : 100vw;
  width: 1px;
  background-color: red;
  position: absolute;
  left : 18rem;
}
body:before{
  content : '';
  height : 1px;
  width: 100%;
  background-color: red;
  position: absolute;
  top : 30rem;
}


main {
    margin-top: 2.25rem;
}


/*Smartphone*/

@media screen and (max-width: 640px){


}

/*Tablette*/


@media screen and (min-width: 641px){


    .header,.hangs,main,footer{

        padding-left: 3.5rem;
        padding-right: 3.5rem;
        inline-size: 1440px;
        margin-left : auto;
        margin-right : auto;      
          
    }

}



.info{
  display : flex;  
  justify-content: flex-start;
  align-items: center;  
}

.info i{
  min-height: 1.5rem;
  min-width : 1.5rem;
  border-radius: 50%;
  margin : 0 0.75rem 0 0.25rem;
  font-size: 0.75rem;
  color : var(--blueBasic);  
  border : 1px solid var(--gray);
  display : flex;
  flex-direction : row;
  flex-wrap : nowrap;
  justify-content : center;
  align-items : center; 
}

.info p{
  line-height: 1.25rem;
}




/*A dispatch dans les feuilles de styles ou à trier*/

@media screen and (min-width: 640px){

  .searchSubmit .btnMobil{  display : none; }

  .info{ margin-left : 0.25rem; }
}


/*Design le plus vue dans le site et ses varaiantes*/

.sticker{
  padding : 0.25rem; 
  margin : 0.75rem 0;
  background-color:white;
  border-radius: 1rem;
  box-shadow :0px 0px 9px -3px #686868;  
  transition: 0.5s;
}


.sticker:hover{
  transform:scale(1.1);
  transition: 0.5s;
}



.filter ul li:hover > a{
  background-color: var(--gray);
  transition :0.5s;
}

.filter ul li a{
  transition :0.5s;
}

.filter ul li:hover i{
  background-color: var(--blueBasic);
  color : white;
  transition :1s;
}

.filter ul li i{
  transition :1s;
}


input{
color: gray;
}














