/*header*/

.header{
    display: flex;
    flex-wrap: wrap; 
    
}
.logo img{ height: 2.5rem;  }



nav{
    display: flex;
    justify-content: space-between;
}

nav .nav__login {  color: rgba(0,101,252,1);    font-weight: bold;}
.signup{ font-weight: bold;     color: var(--blueBasic); }



/*Smartphone*/

@media screen and (max-width: 640px){

    .header{ padding : 1.75rem 0 }
    
    .logo {       
        order: 0; 
        flex : 1 1 auto;        
        padding-left: 1rem;
    }
      .signup {
        order: 1;   
        flex : 0 1 50%;  
        align-self: center; 
        text-align: right;
        padding-right: 1rem;
    }

    .nav {
        order: 2;             
        display: flex;
        justify-content: space-around;
        align-content: center;
        width: 100%; 
        margin-top: 2rem;        
    }

    .navLink{         
        flex : 0 1 auto;
        width : 100%;

        padding-bottom: 1rem;

        text-align: center;
        border-bottom: 2px solid var(--gray); 
    }

    .navLink[data-active="true"]{
        border-bottom: 2px solid var(--blueBasic);
        color : var(--blueBasic);
        font-weight: 500;
    }

}

/*Header desktop*/

@media screen and (min-width: 641px){

    body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header{        
        display: flex;   
        align-items: flex-end;
        margin : 0 auto 3rem auto;
        /*Cette propriété est à rapprocher de block-size qui définit l'autre dimension de l'élément.*/
        max-width: 1440px;  
        inline-size: 1440px;
        margin-bottom: 3rem;
        
    }
    .logo{  flex: 1 1 auto }

    .navLink, .signup{        
        margin: 0 0.5rem;
        padding : 2.75rem 1.5rem 0.5rem 1.5rem; 
        font-size: 14px;
        font-weight: 500;
    }
    

    .navLink[data-active="true"]{
        border-top : 2px solid var(--blueBasic);
        color : var(--blueBasic);
    }
    .navLink[data-active="false"]{
        border-top : 2px solid transparent;
    }
    .navLink[data-active="false"]:hover{
        border-top : 2px solid var(--blueBasic);
    }
    

    .signup{
        margin-right : 0;
        font-weight: bold;        
    }
    

   
}