.hangs{
    flex-direction: column;
    background-color: white;
}

    
    /*Portable*/
    
    @media screen and (max-width: 767px) {

        .hangs{
            padding : 0 1.25rem;
        }

        .hangs h1{
            margin-right : 2rem;
            line-height: 1.5rem;
        }

     
    
    }
    
    
    /*Laptop*/
    
    @media screen and (min-width: 768px) and (max-width: 1080px) {
       
     
    }
    
    /*Desktop*/
    
    @media screen and (min-width: 1081px) {
    
   
    
    }
    
    
    /*Laptop AND Desktop*/
    @media screen and (min-width: 768px){
    

     
    }
    
    
    /*Fin de base*/