
.info{
    display : flex;  
    justify-content: flex-start;
    align-items: center;  
  }
  
  .info i{
    min-height: 1.5rem;
    min-width : 1.5rem;
    border-radius: 50%;
    margin : 0 0.75rem 0 0.25rem;
    font-size: 0.75rem;
    color : var(--blueBasic);  
    border : 1px solid var(--gray);
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content : center;
    align-items : center; 
  }
  
  .info p{
    line-height: 1.25rem;
  }  

@media screen and (max-width: 767px) {

  .info{
    margin-top: 1rem;
  }

}

/**Fin de INFO**/

