.rentImg{
    display: flex;
    overflow: hidden;    
    max-height: 114px;    
}

.rentImg img{   
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;  
    
    margin-bottom: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.rentName{ font-weight : bold;}
.rentInfo p{  margin-bottom: 0.5rem;}
.rentInfo .star{ margin-top : 0.5rem;}
.rentInfo{  padding : 0.5rem 0.75rem;}
.headerRent{padding-left : 1.5rem;}
.headerRent, .headerPopular{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.headerPopular i { font-size : 1.125rem;}


@media screen and (max-width: 640px){
    .rent{  background-color: white; }
    .headerRent{ padding-left : 0.25rem}
}


@media screen and (min-width: 480px){
  .rent{  max-width: 50%; }
}


@media screen and (min-width: 840px){  .rent{  margin : 0 1.5rem 0 0;  max-width: 68%; }
        

}
