

.popular .sticker{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    height : 140px;
    margin : 0.325em 0;
   
}

.popular .stickerImg{
    display: flex;
    overflow: hidden;
    /*cover de l'image dans un elment flex*/
    max-width: 35%;
    margin-right : 1.25rem;    
}


.popular .stickerImg IMG{    
    /*cover de l'image dans un elment flex*/
    object-fit: cover;
    width: 100%;
    max-width: 100%;    
    max-height: 100%;  
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;  
}

.popular .stickerInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right : 2rem;
}

.popularName{
    display : flex;
    flex : 0 1 20%;
    align-self: stretch;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;    
}

.popularPrice{
    flex : 0 1 20%;
    align-self: stretch;
}



@media screen and (min-width: 641px) and (max-width:1024px){

    .popular{
        display:flex;
        flex-direction: column;
        margin : 0;
    }

    .popular .headerPopular { 
        display: flex;
        width : 100%;
        justify-content: start;
        /*flex : 1 1 100%;*/
    }

    .headerPopular i{
        margin-left: 1.5rem;
    }

    .popular .sticker{
        margin-left : 0.5rem;
        margin-right : 0.5rem;
        height : 180px;
    }



}
@media screen and (min-width: 1025px){

    .popular{
        display: flex;
        flex-direction: column;
        max-width : 31%;
        padding : 3rem 2.5rem;
        margin : 0 0 0 1.5rem;
    }
}
