.headBand{  
   
   display :flex ;
   flex-direction: column;     
   flex-wrap: wrap;
   margin-top : 3rem; 

}

.headBandSticker{ transition: 0.5s;}

.headBandSticker:hover{ transform:scale(1.1);  transition: 0.5s;}



@media screen and (max-width: 641px){


    .headBand UL,.headBand li,.headBand li a {
        display: flex;
        flex-direction: column;
    }

    .headBand h1{  margin-left: 1.5rem;;}

        .sticker_content /*li*/{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex : 1 1 50%;
        min-height: 100%;        
        padding: 1rem;
    }
 

   

    .headBandSticker /*A*/{
        height : 190px;
        box-shadow: 0px 0px 9px -3px #686868;
        border-radius : 1rem;
        margin-bottom: 1.5rem;;
    }

    
    .sticker_img img{

        display: flex;
        object-fit: cover;
        height: 140px;
        width :100%;        

        border-top-left-radius : 1rem;
        border-top-right-radius : 1rem;

    }

    .sticker_name{
        display: flex;
        align-items: center;
        height: 50px;
        width :100%;
        font-weight: bold;
    }
}




@media screen and (min-width: 641px){


    
.headBandSticker {
    border-radius: 1rem;
    background: white;
    box-shadow :0px 0px 9px -3px #686868;
}



    .headBand UL{
        display: flex;
        flex-wrap: wrap;
    }



    
    .headBand UL li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100%;
        flex : 1 1 25%;
        padding: 1rem;                
    }

    /*sticker*/
    .headBandSticker {
        display: flex;
        flex-direction: column;
        justify-content: start;
        border-radius: 1rem;
        background: white;
        box-shadow :0px 0px 9px -3px #686868;
    }

    .headBandSticker img{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
        .headBand h1{
            display: flex;        
            width: 100%;
            margin: auto;
            padding-left : 1.5rem;
    
        }
    


.headBand h1{margin-bottom: 3rem;}

/*Link */
    .sticker_full{ height : 440px;}
    .sticker_small{ height : 160px; }
    .sticker_medium{ height : 235px;}
    .sticker_content{  min-height: 100%; }
    .sticker_content:nth-child(2) .sticker_medium{ margin-bottom: 2rem; }
    .sticker_content:nth-child(4) .sticker_medium{ margin-top: 2rem;}



    .sticker_full .sticker_img{
        display: flex;
        flex :1;
    }

    .sticker_full .sticker_img img{
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        height: 100%;   
    }

    .sticker_medium .sticker_img{
        display: flex;
        overflow: hidden;
        max-width: 100%;
        height: 100%;
    }

    .sticker_medium img{
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        max-height: 100%; 
    }
   
    .sticker_small .sticker_img{
        display: flex;        
        flex : 1;
        overflow: hidden;
        max-width: 100%;
    }

    .sticker_small img{
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%; 
    }
  
   .sticker_name{
       display: flex;
       align-content: center;
       align-items: center;
       height : 65px;
       min-height: 65px;
       margin-left : 1.5rem;
       font-weight: bold;
   }
 
}

@media screen and (min-width: 840px){

 
}
