h1{
font-size: 1.25rem;
margin-bottom : 1.5rem;
}


.font-light{ font-weight: lighter; }
.ma__1{margin-bottom : 1rem;}

.header,.hangs,.rent,.popular,.headBand,.footerWrapper{
    background-color: tomato
}

.push__left-1-5{padding-left : 1.5rem};
.push__right-1-5{padding-right: 1.5rem};



/******************************************************************************/


/*Tablette*/






@media screen and (min-width: 640px){

  .info{ margin-left : 0.25rem; }

}


@media screen and (min-width: 641px) and (max-width:1080px){

    .header, .hangs {
      padding-left:1.5rem;
      padding-right:1.5rem;
    }

    .popular h1, .rent h1{
      padding-left : 0.5rem;
    }

}
@media screen and (min-width: 181px){


    .header,main,footer{
        max-width: 1344px;
        margin-left : auto;
        margin-right : auto;     
          
    }

}





















