
main {
    margin-top : 3rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
.offers{
    display : flex; 
    margin-bottom : 3rem; 
    max-width: 1440px;
  
}

.rent, .popular{
    padding: 3rem 1rem;
    background-color:var(--gray);
}

.rentImg{
    overflow: hidden;
    max-height: 114px;
    display: flex;
}

.rentImg img{
    margin-bottom: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;   
}
.rentName{ font-weight : bold;}

.rentInfo p{  margin-bottom: 0.5rem;}

.rentInfo .star{ margin-top : 0.5rem;}

.rentInfo{  padding : 0.5rem 0.75rem;}

.headerRent, .headerPopular{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.headerPopular i {
    font-size : 1.125rem;
}


.stickerContent{
    margin-bottom:2rem;
}
.rent .sticker{
    height: 200px;   
}

.sticker{
    padding : 0.25rem;
    background-color:white;
    margin : 0.75rem 0;
    border-radius: 1rem;
    box-shadow :0px 0px 9px -3px #686868;
}

.popular .sticker{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    height : 140px;
   
}

.popular .stickerImg{
    margin-right : 1.25rem;
     /*cover de l'image dans un elment flex*/
    overflow: hidden;
    max-width: 35%;
    display: flex;
}


.popular .stickerImg IMG{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; 
    /*cover de l'image dans un elment flex*/
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;   
}

.popular .stickerInfo{
    padding-right : 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
}

.popularName{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    display : flex;
    flex : 0 1 20%;
    align-self: stretch; 
}

.popularPrice{
    flex : 0 1 20%;
    align-self: stretch;
}

.star{
    flex : 0 1 100%;
    display : flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
   
}


.star i{
    font-size:0.75rem;  
    margin-right : 1px;
}

.watchMore {
    font-weight : bold;
}



@media screen and (max-width: 640px){

    .offers {
        flex-direction: column-reverse;
    }

    .rent{
        background-color: white;
    }

    .headerRent{
        padding-left : 0.25rem
    }

    .popular{
        display: flex;
        flex-direction: column;
    }
    
    
    
   
    
}



@media screen and (min-width: 480px){
         .filter UL{
           display: flex;
           flex-wrap: wrap;
        max-width:100%
    }
}

@media screen and (min-width: 640px){


    .rent, .popular{
        margin : 0 1.5rem;
        border-radius: 1rem;;
    }

    .rent{
        max-width: 50%;
    }

    .stickerContent{
        display: flex;
        flex-wrap: wrap;
    }

    .stickerContent .sticker {
        flex : 1 1 100%;
        margin : 0.5rem;
    }
    
    .popular{
        max-width : 50%
    }

       .filter UL{
           display: flex;
           flex-wrap: wrap;
           max-width:80%;
           justify-content: center;
    }
      .filter{
        flex-direction:column;
    }
    
  

}


@media screen and (max-width: 840px){

    .popular .sticker{ height : 160px; }
    
}
@media screen and (min-width: 840px){

    .rent, .popular{
        margin : 0 1.5rem;
        border-radius: 1rem;;
    }

    .rent{
        max-width: 62%;
    }

    .stickerContent{
        display: flex;
        flex-wrap: wrap;
    }

    .stickerContent .sticker {
        flex : 1 1 31%;
        margin : 0.5rem;
    }
    
    .popular{
        max-width : 38%
    }
    
        .filter UL{
           display: flex;
           flex-wrap: wrap;
        max-width:100%

        }
        
        

}
