


/*Tools flexBox*/

.flex__rowWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.flex__rowWrap_cc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content : center;
    align-items : center;
}

.flex__rowWrap_spaceAroundCenter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.flex__rowWrap_spaceAroundStart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;

}

.flex__rowWrap_spaceBetweehCenter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.flex__rowWrap_spaceBetweenStart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.flex__rowWrap_startCenter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}
.flex__rowNowrap_startCenter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}

.flex__rowNowrap_cc{
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content : center;
    align-items : center;

}


.flex__rowWrap_cc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}



.flex__colWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex__colWrap_cc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex__colWrap_spaceBetween{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
   
}



/*Début de la page web*/

/*HEADER / NAV / .hangs / .fiter / .info*/

header{
    width : 1440px;
    background-color: white;
    padding-left : 3.625rem;
    padding-right : 3.625rem;
    box-sizing: border-box;
}


nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    margin-top: 1rem;
    
}

nav .logo img{
    height: 1.75rem;  
}

.nav__login_mobil{
    display: none;
}

nav li{
    display: flex;
    padding : 0rem 0rem 3.50rem 0rem ;
}

nav li a {
    font-weight : 600;
    padding : 3rem 1.75rem 0 1.75rem;   
}
.nav__active{
    color : var(--blueBasic);
    border-top: 2px solid var(--blueBasic);
    
}

.hangs h1, .hangs p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/*search*/

.search{
    margin : 1.25rem 0 1.5rem 0;
}

.search i, .search input, .search button{
    height : 3.25rem;
}

.search i {    
    width : 3.25em;
    text-align : center;
    background-color : var(--gray);
    border-top-left-radius : 1em 1em;
    border-bottom-left-radius : 1em 1em;
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content : center;
    align-items : center;  
}

.search INPUT{
    margin : 0;
    border: 1px solid var(--gray);
    text-indent: 1rem;
    font-weight: 700;
    width: 15rem;
}

.search button{
    background-color: var(--blueBasic);
    border : none;
    border-radius : 0;
    border-top-right-radius : 1em 1em;
    border-bottom-right-radius : 1em 1em;
    color : white;
    padding : 0 1.5rem 0 1.5rem;
    font-weight: 700;
}


/*filter*/

.filter{
    margin-bottom: 2rem;
}

.filter H2{
    margin-right : 2em;
    margin-left : 0.5em;
    font-weight: 700;
}

.filter UL{
    padding-top : 0.5em;
    padding-bottom : 1em;
}

.filter UL li{
    padding-left : 1.5em;
    padding-right : 1.75em;
    z-index : 0;
    height : 3em;
    border-radius : 1.5em;
    position : relative;
}

.filter I{
    z-index : 5;
    color : rgba(0,101,252,1);
    background : rgba(242,242,242,1);
    width : 3.25em;
    height : 3.25em;
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content : center;
    align-items : center;
    border-radius : 1.5em;
    position : absolute;
    top : 0;
    left : 0;
    background-color : rgba(222,235,255,1);
}

.filter LI A{
    height : 3em;
    margin : 0;
    padding-left : 2.5em;
    font-weight: 700;
    border : 2px solid rgba(242,242,242,1);
    padding-right : 1.5em;
    border-top-right-radius : 1.5em 1.5em;
    border-bottom-right-radius : 1.5em 1.5em;
}


/*info*/

.info i{
    height: 1.5rem;
    width : 1.5rem;
    border-radius: 50%;
    border : 1px solid var(--gray);
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content : center;
    align-items : center;
    margin-right: 0.75rem;
    color : var(--blueBasic);
    margin-left : 0.25rem;
}


/*main*/


main{
    width: 1440px; 
    padding: 0 3rem;
    box-sizing: border-box;     
}

.sticker__contain{
    margin-bottom: 2rem;;
}

.offers{
    margin-top : 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.offers h2{
    font-size : 1.5rem;
    font-weight: 700;
    margin-bottom : 1.5rem;
   
}
.offers .location h2{
    margin-left: 1.5rem;
}

.location,.popular{
    background-color: var(--gray);
    padding: 3rem 1rem; 
    border-radius: 1.25rem;
}

.location{
    width : 66%; 
}

.popular{
    width : 31%
}

.sticker{           
    background: white;
    border-radius: 1rem;
    margin : 0.75rem;

   
}

.location .sticker{
  
   flex-basis: 28%;
   padding : 0.25rem;
}

.sticker IMG{
    display: flex;
    width : 100%;    
}

.sticker__title{
    font-weight : 700;
    margin: 0.5rem 0;
    padding : 0 0.5rem;
}

.sticker__info p{
    padding : 0 0.5rem;
    font-size: 1rem;;
}

.sticker__star{   
    padding : 0 0.625rem;
}
.sticker__star i{
    font-size : 0.75rem;
    margin: 0.5rem 0;
    margin-left : -0.2rem;
}



.location .sticker IMG{
    border-top-left-radius : 1rem;
    border-top-right-radius : 1rem;
    height : 7rem;
    object-fit: cover;    
}

.popular IMG{      
    border-top-left-radius : 1rem;
    border-bottom-left-radius : 1rem;
    width: 20%
}

.link__watch_more{
    font-weight: 700;
    margin-left : 2rem;
}


.popular .title i{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

