.offers{   
    display : flex; 
    max-width: 1440px;
    margin-bottom: 3rem;;

}

.rent, .popular{
    padding: 3rem 1rem;
    background-color:var(--gray);
}

.rent .sticker{   height: 200px; }




.star{
    flex : 0 1 100%;
    display : flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;   
}

.star i{   font-size:0.75rem;  margin-right : 1px;}
.watchMore {   
    font-weight : bold;
    padding-top: 1rem;;
}


@media screen and (max-width: 640px){
    .offers {  flex-direction: column-reverse;}    
    .popular{ display: flex; flex-direction: column; } 
}


/*LapTop*/

@media screen and (min-width:641px) and (max-width: 1024px){

    .offers {  
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }
    .offers{margin-bottom : 3.5rem}
    .rent, .popular{  margin : 0 1.5rem;}
    .stickerContent{  display: flex;  flex-wrap: wrap; width : 100%;}
    .stickerContent .sticker { flex : 1 1 33%; margin : 0.5rem;}
    .popular .sticker{ height : 160px; }
    .popular UL{
        display: flex;
    }
    .watchMore{
        padding-left: 1.5rem!important;
    }
}


/*Dekstop*/


@media screen and (min-width: 1025px){


    .rent, .popular{ border-radius: 1rem;}
    .stickerContent{ 
        display: flex; 
        flex-wrap: wrap; 
        margin-bottom: 1.5rem;}

    .stickerContent .sticker { flex : 1 1 29%; margin : 1rem; }
  
    
 

    .watchMore {   
        font-weight : bold;
        padding-left : 1.5rem;
    }

}


