/*
    HEADER .header
            DIV .header__wrapper
                P .logo
                    A
                     IMG
                NAV .nav
                    A .navLink x2
                A .signup
*/

.header__wrapper {
  flex-wrap: wrap;
  width :100%;
}

.logo img {
  height: 2.5rem;
}

nav {
  justify-content: space-between;
}

nav .nav__login {
  color: rgba(0, 101, 252, 1);
  font-weight: bold;
}

.signup {
  font-weight: bold;
  color: var(--blueBasic);
}

/*Portable*/

@media screen and (max-width: 767px) {
  .logo {
    flex: 1 1 auto;
    order: 0;
    padding-left: 1rem;
  }

  .signup {
    flex: 0 1 50%;
    order: 1;
    align-self: center;
    text-align: right;
    padding-right: 1rem;
  }

  .nav {
    justify-content: space-around;
    align-content: center;
    order: 2;
    width: 100%;
    margin-top: 2rem;
  }

  .navLink {
    flex: 0 1 auto;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--gray);
    transition-duration: .5s;
  }

  .navLink[data-active="true"] {
    border-bottom: 2px solid var(--blueBasic);
    color: var(--blueBasic);
    font-weight: 500;
  }

  .navLink[data-active="false"]:hover {
    border-bottom: 2px solid var(--blueBasic);
    color: var(--blueBasic);
    font-weight: 500;
  }
}

/*Laptop AND Desktop*/
@media screen and (min-width: 768px) {
  .header {
    align-items: flex-end;
  }

  .logo {
    flex: 1 1 auto;
    margin-top: 2.75rem;
    margin-left: 0.125rem;
  }

  .navLink,
  .signup {
    margin: 0 0.5rem;
    padding: 3rem 1.5rem 0.5rem 1.5rem;
    font-size: 14px;
    font-weight: 500;
  }

  .navLink[data-active="true"] {
    border-top: 2px solid var(--blueBasic);
    color: var(--blueBasic);
  }

  .navLink[data-active="false"] {
    border-top: 2px solid transparent;
  }

  .navLink[data-active="false"]:hover {
    border-top: 2px solid var(--blueBasic);
  }

  .signup {
    border-top: 2px solid transparent;
    margin-right: 0;
    font-weight: bold;
  }
}
