/*
    main
        DIV .main__wrapper
            SECTION .hangs
                H1
                P
                DIV .search
                DIV .filter
                DIV .info
            DIV .offers
            SECTION #activity .activity
*/

.hangs {
  flex-direction: column;
  background-color: white;
  margin-bottom: 3rem;
}

/*Portable*/

@media screen and (max-width: 767px) {
  .hangs {
    padding: 0 1.25rem;
  }

  .hangs h1 {
    margin-right: 2rem;
    line-height: 1.5rem;
  }
}
