/*
    DIV.search
        I .searchLocation
        BUTTON .searchSubmit
            SPAN .btnDesktop
            I .btnMobil
*/

.search {
  position: relative;
  margin: 1.25rem 0 1.5rem 0;
}

.searchLocation,
.search input,
.search {
  height: 3.25rem;
}

.search i:nth-child(1) {
  justify-content: center;
  align-items: center;
  width: 3.25em;
  background-color: var(--gray);
  border-top-left-radius: 1em 1em;
  border-bottom-left-radius: 1em 1em;
  font-size: 1rem;
}

.search INPUT {
  margin: 0;
  border: 1px solid var(--gray);
  text-indent: 1rem;
  font-weight: 700;
  padding-right: 1.5rem;
}

.search INPUT::placeholder {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

.searchSubmit {
  align-items: center;
  justify-content: center;
  height: calc(3rem+2px);
  border: none;
  background-color: var(--blueBasic);
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

/*Portable*/

@media screen and (max-width: 767px) {
  .btnDesktop {
    display: none;
  }

  .search Input {
    flex: 1;
    margin-right: 1.5rem;
  }

  .searchSubmit {
    position: absolute;
    right: 0;
    height: 3.25rem;
    width: 3.5rem;
    border-radius: 1rem;
  }
}

/*Laptop AND Desktop*/
@media screen and (min-width: 768px) {
  .search Input {
    padding-right: 4rem;
  }

  .searchSubmit .btnMobil {
    display: none;
  }

  .searchSubmit {
    padding: 0 1.5rem 0 1.5rem;
    border-top-right-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
    background-color: var(--blueBasic);
  }
}
