/*
    DIV .filter
        H2
        UL
          LI x4
            I
            A
*/

.filter {
  padding-left: 0.25rem;
}

.filter H2 {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.filter UL {
  justify-content: flex-start;
}

.filter UL li {
  position: relative;
  z-index: 0;
  padding-left: 1.25rem;
  margin-right: 1.5rem;
  margin-bottom: 1.25rem;
  height: 2.75em;
  border-radius: 1.5em;
}

.filter I {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -0.25rem;
  z-index: 5;
  width: 2.6em;
  height: 2.6em;
  border-radius: 1.5em;
  font-size: 1.25rem;
  color: rgba(0, 101, 252, 1);
  background-color: var(--softBlue);
}

.filter LI A {
  align-items: center;
  height: 3.25em;
  margin: 0;
  padding-left: 2.75em;
  padding-right: 1em;
  font-weight: 700;
  border: 2px solid rgba(217, 217, 217, 1);
  border-top-right-radius: 1.5em 1.5em;
  border-bottom-right-radius: 1.5em 1.5em;
}

/*Effets au survol*/

.filter ul li:hover > a {
  background-color: var(--gray);
  transition: 0.5s;
}

.filter ul li a {
  transition: 0.5s;
}

.filter ul li:hover i {
  background-color: var(--blueBasic);
  color: white;
  transition: 1s;
}

.filter ul li i {
  transition: 1s;
}

@media screen and (min-width: 375px) AND (max-width: 766px) {
  .filter UL LI {
    margin-right: 0.625rem;
  }

  .filter LI A {
    padding-left: 2rem;
  }
}

/*Portable*/

@media screen and (max-width: 767px) {
  .filter {
    flex-direction: column;
    align-items: center;
  }
  .filter h2 {
    align-self: flex-start;
    flex: 0 1 100%;
  }
  .filter ul {
    flex-wrap: wrap;
  }
}

/*Laptop*/

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .filter {
    flex-direction: column;
  }
  .filter h2 {
    margin-bottom: 1rem;
  }
}

/*Desktop*/

@media screen and (min-width: 1081px) {
  .filter {
    align-items: center;
  }
}

/*Laptop AND Desktop*/
@media screen and (min-width: 768px) {
  .filter {
    margin-left: 8px;
    margin-bottom: 1.5rem;
  }
  .filter UL {
    flex-wrap: wrap;
  }
  .filter h2 {
    margin-right: 2rem;
  }
  .filter li {
    margin: 0 1.5rem 0 0;
  }
}
