/*
    DIV .offers
        SECTION #location .rent
            HEADER .headerRent
            ARTICLE .sticker__list .sticker__list--rent
                A .sticker # Voir section suivante #
            P .watchMore
        SECTION .popular
*/

.offers h1 {
  margin-bottom: 2rem;
}
.fa-chart-line {
  font-size: 1.5rem;
}

/*Portable*/

@media screen and (max-width: 767px) {
  .offers {
    flex-direction: column-reverse;
  }
}

/*Laptop*/

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .offers {
    flex-direction: column-reverse;
  }
}

/*Laptop AND Desktop*/
@media screen and (min-width: 768px) {
  .offers {
    justify-content: space-between;
  }
}
