/*
    SECTION .rent
            HEADER  .headerRent
                H1
            ARTICLE .sticker__list sticker__list--rent
                ### STICKER /Voir la section correspondante ligne :/
            P .watchMore
                A
*/



/*Portable*/

@media screen and (min-width: 767px){

}


/*Laptop*/

@media screen and (min-width: 768px) and (max-width: 1080px) {
    
  
    .rent{
        margin : 0 0 2rem 0;
        border-radius : 0;
        padding-bottom : 2rem;
        border-radius: 0;
        background-color: white;
    }
}

/*Desktop*/

@media screen and (min-width: 1081px) {

  
    
    .rent{
        width: 65%;
        max-width: 65%;
    }
    
    .popular{
        width: 34%;
        max-width: 34%;
    }



}


/*Laptop AND Desktop*/
@media screen and (min-width: 1081px) {
    .rent,.popular{
        border-radius: 1.5rem;    
    } 
}


