/*
    SECTION .popular
            HEADER  .headerPopular
                H1
            ARTICLE .sticker__list sticker__list--popular
                ### STICKER /Voir la section correspondante ligne :/
*/

.headerPopular {
  justify-content: space-between;
  padding: 2rem 1.25rem 0;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .offers {
    flex-direction: column-reverse;
  }
  .popular {
    margin: 0 0 2rem 0;
    border-radius: 0;
    padding-bottom: 2rem;
    border-radius: 0;
  }
  .headerPopular {
    padding: 0;
  }
}

@media screen and (min-width: 1080px) {
  .headerPopular {
    padding: 0;
  }
}

/*Fin de popular*/
