/* 
    FOOTER
        .footer__wrapper
                    SECTION x 3
                          UL
                           LI
                            A
*/

.footer {
  display: flex;
  background-color: var(--gray);
  padding-top: 2rem;
}

.footer__wrapper {
  flex-direction: column;
}

.footer SECTION {
  margin-bottom: 2rem;
}

.footer li {
  margin: 1rem 0 1rem 0;
}

.footer A:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 2rem 1.5rem 0;
  }
}

/*Laptop AND Desktop*/
@media screen and (min-width: 768px) {
  .footer__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__wrapper SECTION {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}

/*Fin de base*/
