@media screen and (min-width: 768px) and (max-width: 1080px) {
  .header,
  .hangs,
  .rent,
  .activity,
  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sticker__list--popular .sticker:nth-child(1) .sticker__txt,
  .sticker__list--popular .sticker:nth-child(3) .sticker__txt {
    padding-top: 1rem;
  }
}

/*Ajustement pour résolution entre 768px et 1023px*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sticker__list--popular .sticker:nth-child(3) .sticker__txt {
    padding-top: 0;
  }
}
