
/*
    SECTION .activity
        ARTICLE .sticker__list--headband
             UL
              LI
               A .sticker .sticker__IMG--full   
                    P.flexImg                   | 
                        IMG .imgFlex            | Strucuture répétée
                    DIV .sticker__data          | Dans chaque balise A .sticker
                    H2  .sticker__txt           |
              LI 
                A .sticker .sticker__IMG--medium
                A .sticker .sticker__IMG--small
              LI
                A .sticker .sticker__IMG--full
              LI 
                A .sticker .sticker__IMG--medium2
                A .sticker .sticker__IMG--small2 
*/



.activity{
    flex-direction: column;
}

.activity .sticker{
    flex-direction: column;
}


.sticker__list--headband ul{
    flex-direction: column;
}

.sticker__list--headband ul li{
    flex-direction: column;
}


.activity .flexImg{
    height: 133px;  
}

.activity .imgFlex{
    width: 100%; 
    height :100%;  
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem; 
}

.activity .sticker__data{
    flex-direction: column;
    justify-content: center;
    height: 53px;
}

/*Portable*/

@media screen and (max-width: 767px) {

    .activity{
        padding: 2rem 1.25rem;
    }

    .activity .sticker{
        padding : 0;
    }


}


/*Laptop*/

@media screen and (min-width: 768px) and (max-width: 1080px) {


}

/*Desktop*/

@media screen and (min-width: 1081px) {



}


/*Laptop AND Desktop*/
@media screen and (min-width: 768px){

    .sticker__list--headband ul{
        flex-direction: row;
        justify-content: space-between;
    }
    .sticker__list--headband li{
        max-width: 22.5%;
        max-height : 440px;
        height : 440px;
        justify-content: space-between;
    }

    .sticker__list--headband .sticker__data{
        height : 50px;
        max-height : 50px;
    }

    .sticker__list--headband .sticker{
        padding: 0;   
        margin : 0;     
    }

    .sticker__img--full{
        max-height : 100%;
        height : 100%;
    }

    .sticker__img--medium{
        max-height : 246px;
        height : 246px;
    }
    .sticker__img--medium .flexImg{
        max-height : 196px;
        height : 196px;
    }

    .sticker__img--medium2{
        max-height : 210px;
        height : 210px;
    }
    .sticker__img--medium2 .flexImg{
        max-height : 160px;
        height : 160px;
    }


    .sticker__img--small{
        max-height : 170px;
        height : 170px;
    }

    .sticker__img--small2{
        max-height : 200px;
        height : 200px;
    }
    .sticker__img--small2 .flexImg{
        max-height : 150px;
        height : 150px;
    }

    .sticker__img--full .flexImg{
        max-height : 100%;
        height : 100%;
    }




 
}


/*Fin de base*/

